@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
  --main-bg-color: brown;
}
*
{
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}
header
{
  background-color: var(--main-bg-color);
}
nav
{
  display: flex;
}
.logo
{
  display: flex;
  align-items: center;
}
.logo img
{
  width: 125px;
  padding: 0 22px;
}
nav ul
{
  height: 10vh;
  display: flex;
  align-items: center;
}
nav ul li
{
  padding: 0 23px;
  list-style: none;
}
nav ul li a
{
  text-decoration: none;
  color: white;
}
nav ul li a:hover
{
  font-weight: bolder;
}
.search
{
  display: flex;
  align-items: center;
}
.search input
{
  margin: 0 16px 0 40px;
  height: 20px;
  width: 275px;
  border-radius: 7px;
  padding: 0 10px;
}
.search button
{
  font-weight: 600;
  font-family:  'Roboto Slab', serif;
}
.container
{
  min-height: calc(100vh - 10vh - 12vh);
}
footer
{
  height: 12vh;
  background-color: var(--main-bg-color);
  color: white;
}