.flex-all-center
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn
{
  border: 2px solid #ecc2c2;
  border-radius: 2px;
  padding: 0px 5px;
  cursor: pointer;
  color: white;
  background: var(--main-bg-color);
  /* font-family: 'Roboto Slab', serif; */
}
.primary
{
  height: 200px;
  width: 99vw;
}
.card
{
  display: grid;
  background-color: brown;
  border: 1px solid black;
  grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
  grid-template-rows: 25vh;
}